In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
%matplotlib inline

gsheetid = "18UDkk2G5EQECcIwiv8hZVmP4XlEoOl9W"
sheet_name = "Sheet1"
gsheet_url = "https://docs.google.com/spreadsheets/d/{}/gviz/tq?tqx=out:csv&sheet={}".format(gsheetid,sheet_name)
df=pd.read_csv(gsheet_url)
df

,make,model,guid,deviceType,assetClass,productNumber,printTechnology,country,currencyRate,econoMode,...,url,powerActiveUnit,powerIdleUnit,powerSaveUnit,weightUnit,depthUnit,heightUnit,widthUnit,speedMonoUnit,speedColorUnit
0,Brother,MFC-J6710DW,BR0092,multifunctionColor,Personal/Small Office/Home Office/Workgroup,MFCJ6710DW,Inkjet,United States,1.000000,False,...,https://icecat.us/en_in/p/brother/mfc-j6710dw/...,watt,watt,watt,lbs,in,in,in,ppm,ppm
1,Brother,MFC-9340CDW,BR0096,multifunctionColor,Small/Medium Workgroup,MFC9340CDW,Laser,United States,1.000000,False,...,https://www.brother.com.au/brochures/MFC-9340C...,watt,watt,watt,lbs,in,in,in,ppm,ppm
2,Brother,MFC-9330CDW,BR0101,multifunctionColor,Workgroup,MFC9330CDW,Laser,United States,1.000000,False,...,https://www.brother.com.au/brochures/MFC-9330C...,watt,watt,watt,lbs,in,in,in,ppm,ppm
3,Brother,MFC-J6920DW,BR0104,multifunctionColor,Personal/Small Office/Home Office/Workgroup,MFCJ6920DW,Inkjet,United States,1.000000,False,...,https://icecat.us/en_in/p/brother/mfc-j6920dw/...,watt,watt,watt,lbs,in,in,in,ppm,ppm
4,Brother,MFC-9460CDN,BR0107,multifunctionColor,Personal/Small Office/Home Office/Workgroup,MFC9460CDN,Laser,United States,1.000000,False,...,https://icecat.us/en_in/p/brother/mfc-9460cdn/...,watt,watt,watt,lbs,in,in,in,ppm,ppm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4208,Xerox,EC8056,XE1011,multifunctionColor,Medium/Large Workgroup,EC8056,Laser,United States,1.000000,False,...,https://www.jtfbus.com/item/24668/xerox-ec8056...,watt,watt,watt,lbs,in,in,in,ppm,ppm
4209,Xerox,AltaLink C8155,XE0993,multifunctionColor,Workgroup,ALC8155,Laser,United States,1.000000,False,...,https://www.office.xerox.com/en-us/multifuncti...,watt,watt,watt,lbs,in,in,in,ppm,ppm
4210,Hewlett-Packard,Smart Tank 7306 All-in-One,HP3335,multifunctionColor,Individuals/small workgroup,28B76A,Inkjet,Netherlands,1.141611,False,...,https://www.hp.com/ie-en/products/printers/pro...,watt,watt,watt,lbs,in,in,in,ppm,ppm
4211,Canon,i-SENSYS X C1127i,CN1664,multifunctionColor,Workgroup,3101C052,Laser,United Kingdom,1.303416,False,...,https://canon.a.bigcontent.io/v1/static/i_sens...,watt,watt,watt,lbs,in,in,in,ppm,ppm
4212,Brother,MFC-J1205W,BR0887,multifunctionColor,Personal/Small Office/Home Office/Workgroup,B092YXNZT6,Inkjet,United States,1.000000,False,...,https://www.keypointintelligence.com/research/...,watt,watt,watt,lbs,in,in,in,ppm,ppm

In [4]:
len(df.columns)

50

In [36]:
len(df)

4213

In [26]:
df['listPrice']

0           0.00
1           0.00
2           0.00
3           0.00
4           0.00
          ...
4208        0.00
4209    26100.00
4210        0.00
4211        0.00
4212      109.99
Name: listPrice, Length: 4213, dtype: float64

In [27]:
df['streetPrice']

0        1399.00
1         450.00
2         289.99
3         457.35
4         600.00
          ...
4208     5197.50
4209    16949.00
4210        0.00
4211        0.00
4212      158.99
Name: streetPrice, Length: 4213, dtype: float64

In [ ]:
listprice --> manufacturer
streetprice --> retailer price


when listprice is missing --> streetprice **
when listprice is present --> listprice, streetprice **
both are missing --> 0, 0 ====> we use built model

In [3]:
df.loc[df['make']=='Hewlett-Packard','Hewlett-Packard']=1
df['Hewlett-Packard'].fillna(0,inplace=True)
df['Hewlett-Packard']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    1.0
4211    0.0
4212    0.0
Name: Hewlett-Packard, Length: 4213, dtype: float64

In [4]:
df.loc[df['make']=='Canon','Canon']=1
df['Canon'].fillna(0,inplace=True)
df['Canon']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    1.0
4212    0.0
Name: Canon, Length: 4213, dtype: float64

In [5]:
df.loc[df['make']=='Epson','Epson']=1
df['Epson'].fillna(0,inplace=True)
df['Epson']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Epson, Length: 4213, dtype: float64

In [6]:
df.loc[df['make']=='Lexmark','Lexmark']=1
df['Lexmark'].fillna(0,inplace=True)
df['Lexmark']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Lexmark, Length: 4213, dtype: float64

In [7]:
df.loc[df['make']=='Brother','Brother']=1
df['Brother'].fillna(0,inplace=True)
df['Brother']

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    1.0
Name: Brother, Length: 4213, dtype: float64

In [8]:
df.loc[df['make']=='Xerox','Xerox']=1
df['Xerox'].fillna(0,inplace=True)
df['Xerox']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    1.0
4209    1.0
4210    0.0
4211    0.0
4212    0.0
Name: Xerox, Length: 4213, dtype: float64

In [9]:
df.loc[df['make']=='Ricoh','Ricoh']=1
df['Ricoh'].fillna(0,inplace=True)
df['Ricoh']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Ricoh, Length: 4213, dtype: float64

In [10]:
df.loc[df['make']=='Sharp','Sharp']=1
df['Sharp'].fillna(0,inplace=True)
df['Sharp']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Sharp, Length: 4213, dtype: float64

In [11]:
df.loc[df['make']=='Lanier','Lanier']=1
df['Lanier'].fillna(0,inplace=True)
df['Lanier']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Lanier, Length: 4213, dtype: float64

In [12]:
df.loc[df['make']=='Oki','Oki']=1
df['Oki'].fillna(0,inplace=True)
df['Oki']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Oki, Length: 4213, dtype: float64

In [13]:
df.loc[df['make']=='Konica Minolta','Konica Minolta']=1
df['Konica Minolta'].fillna(0,inplace=True)
df['Konica Minolta']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Konica Minolta, Length: 4213, dtype: float64

In [14]:
df.loc[df['make']=='Toshiba','Toshiba']=1
df['Toshiba'].fillna(0,inplace=True)
df['Toshiba']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Toshiba, Length: 4213, dtype: float64

In [15]:
df['make']=df['make'].replace(['Kyocera Mita','Samsung','Fuji Xerox','Copystar','Dell','Kodak','others','Gestetner','Muratec','Riso','Oce','Panasonic','Fujifilm','IBM','UTAX','NEC','Pantum','Olivetti','Primera','Intec','Develop'],'others')
df.loc[df['make']=='others','Others Make']=1
df['Others Make'].fillna(0,inplace=True)
df['Others Make']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Others Make, Length: 4213, dtype: float64

In [137]:
freq = df['make'].value_counts()
freq

Hewlett-Packard    1333
Canon               557
others              521
Epson               262
Lexmark             237
Brother             208
Xerox               193
Ricoh               175
Sharp               137
Lanier              135
Oki                 120
Konica Minolta      114
Toshiba             112
Savin               109
Name: make, dtype: int64

In [21]:
freq = df['model'].value_counts()
freq

Pro C5210s                        3
Smart Tank 675 All-in-One         2
5008ci                            2
imageRUNNER ADVANCE C356iF III    2
Versant 80 Press                  2
                                 ..
Deskjet F2492 All-in-One          1
Deskjet F2493 All-in-One          1
Deskjet F310                      1
Deskjet F325                      1
MFC-J1205W                        1
Name: model, Length: 4192, dtype: int64

In [22]:
freq = df['guid'].value_counts()
freq

CN1583    2
LM0948    2
LM0947    2
CN1592    2
CN1591    2
         ..
HP1244    1
HP1245    1
HP1246    1
HP1247    1
BR0887    1
Name: guid, Length: 4204, dtype: int64

In [23]:
freq = df['deviceType'].value_counts()
freq

multifunctionColor    4213
Name: deviceType, dtype: int64

In [141]:
freq = df['assetClass'].value_counts()
freq

Workgroup                                      2389
Personal/Small Office/Home Office/Workgroup    1191
others                                          251
Medium/Large Workgroup                          223
Small/Medium Workgroup                          159
Name: assetClass, dtype: int64

In [16]:
df.loc[df['assetClass']=='Workgroup','Workgroup']=1
df['Workgroup'].fillna(0,inplace=True)
df['Workgroup']

0       0.0
1       0.0
2       1.0
3       0.0
4       0.0
       ...
4208    0.0
4209    1.0
4210    0.0
4211    1.0
4212    0.0
Name: Workgroup, Length: 4213, dtype: float64

In [17]:
df.loc[df['assetClass']=='Personal/Small Office/Home Office/Workgroup','PerSHW']=1
df['PerSHW'].fillna(0,inplace=True)
df['PerSHW']

0       1.0
1       0.0
2       0.0
3       1.0
4       1.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    1.0
Name: PerSHW, Length: 4213, dtype: float64

In [18]:
df.loc[df['assetClass']=='Medium/Large Workgroup','ML_Workgroup']=1
df['ML_Workgroup'].fillna(0,inplace=True)
df['ML_Workgroup']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    1.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: ML_Workgroup, Length: 4213, dtype: float64

In [19]:
df['assetClass']=df['assetClass'].replace(['Large Format Printer','Enterprise/Individual/Industrial/Large workgroup','Enterprise/Press Printer','Large Workgroup','Individuals/small workgroup','Business','Production Printer/Digital Press','workgroup'],'others')
df.loc[df['assetClass']=='others','Others aClass']=1
df['Others aClass'].fillna(0,inplace=True)
df['Others aClass']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    1.0
4211    0.0
4212    0.0
Name: Others aClass, Length: 4213, dtype: float64

In [28]:
freq = df['printTechnology'].value_counts()
freq

Laser     2153
Inkjet    2060
Name: printTechnology, dtype: int64

In [20]:
df.loc[df['printTechnology']=='Laser','Laser']=1
df['Laser'].fillna(0,inplace=True)
df['Laser']

0       0.0
1       1.0
2       1.0
3       0.0
4       1.0
       ...
4208    1.0
4209    1.0
4210    0.0
4211    1.0
4212    0.0
Name: Laser, Length: 4213, dtype: float64

In [21]:
df['country']=df['country'].replace(['Japan','Germany','Singapore','Hong Kong','Egypt','South Africa','Canada','Thailand','Malaysia','New Zealand','United Arab Emirates','France','Philippines','Indonesia','Brazil','China','Ireland','Nigeria','Netherlands'],'others')
df.loc[df['country']=='others','Others Country']=1
df['Others Country'].fillna(0,inplace=True)
df['Others Country']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    1.0
4211    0.0
4212    0.0
Name: Others Country, Length: 4213, dtype: float64

In [31]:
freq = df['country'].value_counts()
freq

United States     3719
United Kingdom     194
others             129
India               98
Australia           73
Name: country, dtype: int64

In [22]:
df.loc[df['country']=='United States','US']=1
df['US'].fillna(0,inplace=True)
df['US']

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4208    1.0
4209    1.0
4210    0.0
4211    0.0
4212    1.0
Name: US, Length: 4213, dtype: float64

In [23]:
df.loc[df['country']=='United Kingdom','UK']=1
df['UK'].fillna(0,inplace=True)
df['UK']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    1.0
4212    0.0
Name: UK, Length: 4213, dtype: float64

In [24]:
df.loc[df['country']=='India','India']=1
df['India'].fillna(0,inplace=True)
df['India']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: India, Length: 4213, dtype: float64

In [35]:
freq = df['econoMode'].value_counts()
freq

False    4195
True       18
Name: econoMode, dtype: int64

In [25]:
df.loc[df['econoMode']==False,'Economode']=1
df['Economode'].fillna(0,inplace=True)
df['Economode']

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4208    1.0
4209    1.0
4210    1.0
4211    1.0
4212    1.0
Name: Economode, Length: 4213, dtype: float64

In [44]:
freq = df['productNumber'].value_counts()
freq

MFCJ6710DW    1
17M0800       1
3001385       1
10D1769       1
17M0000       1
             ..
Q8139A        1
Q8136A        1
Q8140A        1
Q8145A#ABA    1
B092YXNZT6    1
Name: productNumber, Length: 4213, dtype: int64

In [37]:
freq = df['connNetwork'].value_counts()
freq

True        2747
False       1435
Optional      31
Name: connNetwork, dtype: int64

In [26]:
df.loc[df['connNetwork']=='True','Connnetwork']=1
df['Connnetwork'].fillna(0,inplace=True)
df['Connnetwork']

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4208    1.0
4209    1.0
4210    1.0
4211    1.0
4212    0.0
Name: Connnetwork, Length: 4213, dtype: float64

In [27]:
df.loc[df['connNetwork']=='False','Not_Connnetwork']=1
df['Not_Connnetwork'].fillna(0,inplace=True)
df['Not_Connnetwork']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    1.0
Name: Not_Connnetwork, Length: 4213, dtype: float64

In [40]:
freq = df['connLocal'].value_counts()
freq

True        3966
False        219
Optional      28
Name: connLocal, dtype: int64

In [28]:
df.loc[df['connLocal']=='True','Connlocal']=1
df['Connlocal'].fillna(0,inplace=True)
df['Connlocal']

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4208    1.0
4209    1.0
4210    1.0
4211    1.0
4212    1.0
Name: Connlocal, Length: 4213, dtype: float64

In [29]:
df.loc[df['connLocal']=='False','Not_Connlocal']=1
df['Not_Connlocal'].fillna(0,inplace=True)
df['Not_Connlocal']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Not_Connlocal, Length: 4213, dtype: float64

In [43]:
freq = df['hasWifi'].value_counts()
freq

False       1913
True        1784
Optional     516
Name: hasWifi, dtype: int64

In [30]:
df.loc[df['hasWifi']=='True','HasWifi']=1
df['HasWifi'].fillna(0,inplace=True)
df['HasWifi']

0       1.0
1       1.0
2       1.0
3       1.0
4       0.0
       ...
4208    0.0
4209    1.0
4210    1.0
4211    1.0
4212    1.0
Name: HasWifi, Length: 4213, dtype: float64

In [31]:
df.loc[df['hasWifi']=='False','Not_HasWifi']=1
df['Not_HasWifi'].fillna(0,inplace=True)
df['Not_HasWifi']

0       0.0
1       0.0
2       0.0
3       0.0
4       1.0
       ...
4208    1.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Not_HasWifi, Length: 4213, dtype: float64

In [46]:
freq=df['monoPPMNotes'].value_counts()
freq

Print speed (black, normal quality, A4 Per US Letter)       394
Print Speed Black                                           351
Print Speed (A4)Mono                                        254
Print speed black                                           180
Print speed (black, normal quality, A4 Per US Letter)Â *    127
                                                           ...
Print speed (black, draft, A4 Per US Letter)                  1
up to20ppm                                                    1
up to 23ppm                                                   1
After first page, up to 26 pages per minute, Black            1
Black ISO-Based Max Print Speed ‡ (ppm)\t16                   1
Name: monoPPMNotes, Length: 772, dtype: int64

In [47]:
freq = df['hasA3'].value_counts()
freq

False    2680
True     1533
Name: hasA3, dtype: int64

In [32]:
df.loc[df['hasA3']==False,'Not_HasA3']=1
df['Not_HasA3'].fillna(0,inplace=True)
df['Not_HasA3']

0       0.0
1       1.0
2       1.0
3       0.0
4       1.0
       ...
4208    0.0
4209    0.0
4210    1.0
4211    1.0
4212    1.0
Name: Not_HasA3, Length: 4213, dtype: float64

In [49]:
freq = df['hasA4'].value_counts()
freq

True     4210
False       3
Name: hasA4, dtype: int64

In [33]:
df.loc[df['hasA4']==True,'HasA4']=1
df['HasA4'].fillna(0,inplace=True)
df['HasA4']

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4208    1.0
4209    1.0
4210    1.0
4211    1.0
4212    1.0
Name: HasA4, Length: 4213, dtype: float64

In [51]:
freq = df['hasA5'].value_counts()
freq

False    3023
True     1190
Name: hasA5, dtype: int64

In [34]:
df.loc[df['hasA5']=='False','Not_HasA5']=1
df['Not_HasA5'].fillna(0,inplace=True)
df['Not_HasA5']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Not_HasA5, Length: 4213, dtype: float64

In [53]:
freq = df['hasColor'].value_counts()
freq

True    4213
Name: hasColor, dtype: int64

In [54]:
freq = df['hasDuplex'].value_counts()
freq

True        2747
False       1213
Optional     253
Name: hasDuplex, dtype: int64

In [35]:
df.loc[df['hasDuplex']=='True','HasDuplex']=1
df['HasDuplex'].fillna(0,inplace=True)
df['HasDuplex']

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4208    1.0
4209    1.0
4210    1.0
4211    1.0
4212    0.0
Name: HasDuplex, Length: 4213, dtype: float64

In [36]:
df.loc[df['hasDuplex']=='False','Not_HasDuplex']=1
df['Not_HasDuplex'].fillna(0,inplace=True)
df['Not_HasDuplex']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    1.0
Name: Not_HasDuplex, Length: 4213, dtype: float64

In [57]:
freq = df['print'].value_counts()
freq

True        4210
False          2
Optional       1
Name: print, dtype: int64

In [37]:
df.loc[df['print']=='True','Print']=1
df['Print'].fillna(0,inplace=True)
df['Print']

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4208    1.0
4209    1.0
4210    1.0
4211    1.0
4212    1.0
Name: Print, Length: 4213, dtype: float64

In [38]:
df.loc[df['print']=='False','Not_Print']=1
df['Not_Print'].fillna(0,inplace=True)
df['Not_Print']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Not_Print, Length: 4213, dtype: float64

In [60]:
freq = df['copy'].value_counts()
freq

True        4175
False         34
Optional       4
Name: copy, dtype: int64

In [39]:
df.loc[df['copy']=='True','Copy']=1
df['Copy'].fillna(0,inplace=True)
df['Copy']

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4208    1.0
4209    1.0
4210    1.0
4211    1.0
4212    1.0
Name: Copy, Length: 4213, dtype: float64

In [40]:
df.loc[df['copy']=='False','Not_Copy']=1
df['Not_Copy'].fillna(0,inplace=True)
df['Not_Copy']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Not_Copy, Length: 4213, dtype: float64

In [63]:
freq = df['scan'].value_counts()
freq

True        4133
False         51
Optional      29
Name: scan, dtype: int64

In [41]:
df.loc[df['scan']=='True','Scan']=1
df['Scan'].fillna(0,inplace=True)
df['Scan']

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4208    1.0
4209    1.0
4210    1.0
4211    1.0
4212    1.0
Name: Scan, Length: 4213, dtype: float64

In [42]:
df.loc[df['scan']=='False','Not_Scan']=1
df['Not_Scan'].fillna(0,inplace=True)
df['Not_Scan']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Not_Scan, Length: 4213, dtype: float64

In [43]:
df[['Hewlett-Packard','Canon','Others Make','Epson','Lexmark','Brother','Xerox','Ricoh','Sharp','Lanier','Oki','Konica Minolta','Toshiba','Workgroup','PerSHW','Others aClass','ML_Workgroup','Laser','US','UK','Others Country','India','Economode','Connnetwork','Not_Connnetwork','Connlocal','Not_Connlocal','HasWifi','Not_HasWifi','Not_HasA3','HasA4','Not_HasA5','HasDuplex','Not_HasDuplex','Print','Not_Print','Copy','Not_Copy','Scan','Not_Scan']]

,Hewlett-Packard,Canon,Others Make,Epson,Lexmark,Brother,Xerox,Ricoh,Sharp,Lanier,...,HasA4,Not_HasA5,HasDuplex,Not_HasDuplex,Print,Not_Print,Copy,Not_Copy,Scan,Not_Scan
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4208,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4209,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4210,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4211,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4212,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0

In [211]:
df['listPrice']

0           0.00
1           0.00
2           0.00
3           0.00
4           0.00
          ...
4208        0.00
4209    26100.00
4210        0.00
4211        0.00
4212      109.99
Name: listPrice, Length: 4213, dtype: float64

In [212]:
df['streetPrice']

0        1399.00
1         450.00
2         289.99
3         457.35
4         600.00
          ...
4208     5197.50
4209    16949.00
4210        0.00
4211        0.00
4212      158.99
Name: streetPrice, Length: 4213, dtype: float64

In [68]:
df.loc[df['listPrice']==0,'finalPrice']=df['streetPrice']
df['finalPrice'].fillna(df['listPrice'],inplace=True)
df['finalPrice']

0        1399.00
1         450.00
2         289.99
3         457.35
4         600.00
          ...
4208     5197.50
4209    26100.00
4210        0.00
4211        0.00
4212      109.99
Name: finalPrice, Length: 4213, dtype: float64

In [46]:
df.isnull()

,make,model,guid,deviceType,assetClass,productNumber,printTechnology,country,currencyRate,econoMode,...,Not_HasA5,HasDuplex,Not_HasDuplex,Print,Not_Print,Copy,Not_Copy,Scan,Not_Scan,finalPrice
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4208,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4209,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4210,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4211,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4212,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [47]:
df.isnull().sum()

make          0
model         0
guid          0
deviceType    0
assetClass    0
             ..
Copy          0
Not_Copy      0
Scan          0
Not_Scan      0
finalPrice    0
Length: 91, dtype: int64

In [48]:
n=df.isnull().sum()
for i, j in n.iteritems():
    print(i, j)

make 0
model 0
guid 0
deviceType 0
assetClass 0
productNumber 0
printTechnology 0
country 0
currencyRate 0
econoMode 0
connNetwork 0
connLocal 0
hasWifi 0
width 0
depth 0
height 0
weight 0
speedMono 0
monoPPMNotes 232
speedColor 0
colorPPMNotes 243
printDPI 6
standardOutputCapacity 0
maximumOutputCapacity 0
standardInputCapacity 0
maximumInputCapacity 0
hasA3 0
hasA4 0
hasA5 0
hasColor 0
hasDuplex 0
print 0
copy 0
scan 0
powerActive 0
powerIdle 0
powerSave 0
listPrice 0
streetPrice 0
ePrice 0
url 62
powerActiveUnit 0
powerIdleUnit 9
powerSaveUnit 1
weightUnit 0
depthUnit 0
heightUnit 0
widthUnit 0
speedMonoUnit 0
speedColorUnit 0
Hewlett-Packard 0
Canon 0
Epson 0
Lexmark 0
Brother 0
Xerox 0
Ricoh 0
Sharp 0
Lanier 0
Oki 0
Konica Minolta 0
Toshiba 0
Others Make 0
Workgroup 0
PerSHW 0
ML_Workgroup 0
Others aClass 0
Laser 0
Others Country 0
US 0
UK 0
India 0
Economode 0
Connnetwork 0
Not_Connnetwork 0
Connlocal 0
Not_Connlocal 0
HasWifi 0
Not_HasWifi 0
Not_HasA3 0
HasA4 0
Not_HasA5 0
HasDuplex 0
Not_HasDuplex 0
Print 0
Not_Print 0
Copy 0
Not_Copy 0
Scan 0
Not_Scan 0
finalPrice 0

C:\Users\PRITHVIRAJ\AppData\Local\Temp\ipykernel_13380\3317592094.py:2: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for i, j in n.iteritems():

In [248]:
len(df.columns)

107

In [96]:
df['deviceType'].value_counts()

multifunctionColor    4213
Name: deviceType, dtype: int64

In [52]:
df['Oki']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: Oki, Length: 4213, dtype: float64

In [53]:
df['printDPI'].value_counts()

4800 x 1200    1130
1200 x 1200    1081
600 x 600       532
1200 x 600      212
5760 x 1440     173
2400 x 600      160
1200 x 2400     125
600 x 1200      111
2400 x 1200     103
9600 x 600       97
9600 x 2400      84
1800 x 600       79
2400 x 2400      70
1200 x 4800      56
600 x 2400       25
4800 x 2400      21
3600 x 1200      20
4800 x 600       20
1200 x 6000      17
2400 x 4800      13
600 x 1800       11
300 x 300         9
6000 x 1200       9
0                 8
720 x 360         7
800 x 400         7
600 x 300         6
38400 x 600       4
4800 x 3600       4
400 x 400         2
5760 x 1400       1
5670 x 1440       1
2400 x 3600       1
1200x 4800        1
3600 x 2400       1
360 x 360         1
1200 x 3600       1
9600 x 1200       1
5760 x 720        1
1440 x 720        1
1200x 1200        1
Name: printDPI, dtype: int64

In [104]:
feq=df['currencyRate'].value_counts()
feq

1.000000    3720
1.420000      90
0.014000      83
0.760000      51
1.380000      41
            ...
1.349209       1
1.362834       1
1.160150       1
1.363670       1
1.303416       1
Name: currencyRate, Length: 118, dtype: int64

In [170]:
feq=df['printDPI'].value_counts()
feq

4800 x 1200    1130
1200 x 1200    1081
others          580
600 x 600       532
1200 x 600      212
5760 x 1440     173
2400 x 600      160
1200 x 2400     125
600 x 1200      111
2400 x 1200     103
Name: printDPI, dtype: int64

In [171]:
df.loc[df['printDPI']=='4800 x 1200','4800x1200']=1
df['4800x1200'].fillna(0,inplace=True)
df['4800x1200']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    1.0
4211    0.0
4212    0.0
Name: 4800x1200, Length: 4213, dtype: float64

In [172]:
df.loc[df['printDPI']=='1200 x 1200','1200x1200']=1
df['1200x1200'].fillna(0,inplace=True)
df['1200x1200']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    1.0
4212    0.0
Name: 1200x1200, Length: 4213, dtype: float64

In [173]:
df.loc[df['printDPI']=='others','Others dpi']=1
df['Others dpi'].fillna(0,inplace=True)
df['Others dpi']

0       0.0
1       1.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    1.0
Name: Others dpi, Length: 4213, dtype: float64

In [174]:
df.loc[df['printDPI']=='600 x 600','600x600']=1
df['600x600'].fillna(0,inplace=True)
df['600x600']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    1.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: 600x600, Length: 4213, dtype: float64

In [175]:
df.loc[df['printDPI']=='1200 x 600','1200x600']=1
df['1200x600'].fillna(0,inplace=True)
df['1200x600']

0       0.0
1       0.0
2       0.0
3       1.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: 1200x600, Length: 4213, dtype: float64

In [176]:
df.loc[df['printDPI']=='5760 x 1440','5760x1440']=1
df['5760x1440'].fillna(0,inplace=True)
df['5760x1440']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: 5760x1440, Length: 4213, dtype: float64

In [177]:
df.loc[df['printDPI']=='2400 x 600','2400x600']=1
df['2400x600'].fillna(0,inplace=True)
df['2400x600']

0       0.0
1       0.0
2       1.0
3       0.0
4       1.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: 2400x600, Length: 4213, dtype: float64

In [179]:
df.loc[df['printDPI']=='1200 x 2400','1200x2400']=1
df['1200x2400'].fillna(0,inplace=True)
df['1200x2400']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    1.0
4210    0.0
4211    0.0
4212    0.0
Name: 1200x2400, Length: 4213, dtype: float64

In [180]:
df.loc[df['printDPI']=='600 x 1200','600x1200']=1
df['600x1200'].fillna(0,inplace=True)
df['600x1200']

0       1.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4208    0.0
4209    0.0
4210    0.0
4211    0.0
4212    0.0
Name: 600x1200, Length: 4213, dtype: float64

In [72]:
df[['Hewlett-Packard','Canon','Others Make','Epson','Lexmark','Brother','Xerox','Ricoh','Sharp','Lanier','Oki','Konica Minolta','Toshiba','Workgroup','PerSHW','Others aClass','ML_Workgroup','Laser','US','UK','Others Country','India','Economode','Connnetwork','Not_Connnetwork','Connlocal','Not_Connlocal','HasWifi','Not_HasWifi','Not_HasA3','HasA4','Not_HasA5','HasDuplex','Not_HasDuplex','Print','Not_Print','Copy','Not_Copy','Scan','Not_Scan','currencyRate','width','depth','height','weight','speedMono','speedColor','standardOutputCapacity','maximumOutputCapacity','standardInputCapacity','maximumInputCapacity','powerActive','powerIdle','powerSave','Others printDPI']]

,Hewlett-Packard,Canon,Others Make,Epson,Lexmark,Brother,Xerox,Ricoh,Sharp,Lanier,...,speedMono,speedColor,standardOutputCapacity,maximumOutputCapacity,standardInputCapacity,maximumInputCapacity,powerActive,powerIdle,powerSave,Others printDPI
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,35.0,27.0,50,50,250,500,26.0,7.5,4.00,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,22.0,22.0,100,100,250,250,380.0,70.0,1.80,1.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,22.0,22.0,100,100,250,250,380.0,70.0,7.50,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,35.0,27.0,50,50,250,500,29.0,5.5,1.50,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,24.0,24.0,150,150,250,250,570.0,70.0,1.70,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4208,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,55.0,50.0,0,0,3140,3140,0.0,0.0,0.00,0.0
4209,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,55.0,55.0,350,350,3140,6140,806.0,72.0,0.67,0.0
4210,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,15.0,9.0,100,100,250,250,0.0,1.1,0.10,0.0
4211,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,27.0,27.0,150,150,300,850,1390.0,18.0,0.70,0.0
4212,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,16.0,9.0,50,50,150,150,0.0,0.0,0.00,1.0

In [94]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Hewlett-Packard']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0577

In [95]:
corr_hp_fp=df['Hewlett-Packard'].corr(df['finalPrice'])
corr_hp_fp

-0.0576709874414081

In [93]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Canon']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.1145

In [92]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Others Make']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0114

In [90]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Epson']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0233

In [89]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Lexmark']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0165

In [88]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Brother']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0216

In [87]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Xerox']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0020

In [86]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Ricoh']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0027

In [85]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Sharp']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0035

In [84]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Lanier']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0045

In [83]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Oki']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0108

In [82]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Konica Minolta']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0107

In [81]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Toshiba']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0131

In [80]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Workgroup']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0418

In [79]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['PerSHW']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0505

In [78]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Others aClass']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0210

In [77]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['ML_Workgroup']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0004

In [97]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Laser']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0854

In [98]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['US']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.1064

In [99]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['UK']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0174

In [100]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Others Country']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.2412

In [101]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['India']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0140

In [146]:
corr = df['finalPrice'].corr(df['currencyRate'], method='pearson')
corr

-0.10596824137981477

In [105]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Economode']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0010

In [106]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Connnetwork']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0584

In [107]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Not_Connnetwork']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0575

In [108]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Connlocal']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0217

In [109]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Not_Connlocal']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0225

In [111]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['HasWifi']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0305

In [112]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Not_HasWifi']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0331

In [147]:
corr = df['finalPrice'].corr(df['width'], method='pearson')
corr

0.06997004349511199

In [148]:
corr = df['finalPrice'].corr(df['depth'], method='pearson')
corr

0.09164277072775015

In [149]:
corr = df['finalPrice'].corr(df['height'], method='pearson')
corr

0.10493562202287558

In [150]:
corr = df['finalPrice'].corr(df['weight'], method='pearson')
corr

0.09692069311321948

In [151]:
corr = df['finalPrice'].corr(df['speedMono'], method='pearson')
corr

0.12076932164624643

In [152]:
corr = df['finalPrice'].corr(df['speedColor'], method='pearson')
corr

0.12358792585098403

In [182]:
feq = df['printDPI'].value_counts()
feq

4800 x 1200    1130
1200 x 1200    1081
others          580
600 x 600       532
1200 x 600      212
5760 x 1440     173
2400 x 600      160
1200 x 2400     125
600 x 1200      111
2400 x 1200     103
Name: printDPI, dtype: int64

In [181]:
corr = df['finalPrice'].corr(df['4800x1200'], method='pearson')
corr

-0.05516386495701936

In [183]:
corr = df['finalPrice'].corr(df['1200x1200'], method='pearson')
corr

0.09439804876496946

In [184]:
corr = df['finalPrice'].corr(df['Others dpi'], method='pearson')
corr

0.0002977182771803266

In [185]:
corr = df['finalPrice'].corr(df['600x600'], method='pearson')
corr

-0.00931196406715969

In [187]:
corr = df['finalPrice'].corr(df['1200x600'], method='pearson')
corr

-0.016911432147894687

In [188]:
corr = df['finalPrice'].corr(df['5760x1440'], method='pearson')
corr

-0.01890773815007689

In [189]:
corr = df['finalPrice'].corr(df['2400x600'], method='pearson')
corr

-0.009972091383282105

In [190]:
corr = df['finalPrice'].corr(df['1200x2400'], method='pearson')
corr

-0.005693064288465182

In [191]:
corr = df['finalPrice'].corr(df['600x1200'], method='pearson')
corr

-0.012205448768702422

In [153]:
corr = df['finalPrice'].corr(df['standardOutputCapacity'], method='pearson')
corr

0.038104067262630326

In [165]:
corr = df['finalPrice'].corr(df['maximumOutputCapacity'], method='pearson')
corr

0.03162836243668951

In [155]:
corr = df['finalPrice'].corr(df['standardInputCapacity'], method='pearson')
corr

0.1420235497704968

In [156]:
corr = df['finalPrice'].corr(df['maximumInputCapacity'], method='pearson')
corr

0.14811085528835202

In [126]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Not_HasA3']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.1129

In [127]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['HasA4']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0043

In [162]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Not_HasA5']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: nan

In [131]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['HasDuplex']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0605

In [132]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Not_HasDuplex']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0528

In [135]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Print']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0025

In [136]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Not_Print']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0020

In [137]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Copy']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0115

In [138]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Not_Copy']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0126

In [139]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Scan']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: 0.0067

In [140]:
from scipy.stats import pointbiserialr
target=df['finalPrice']
dummy=df['Not_Scan']
corr, pvalue = pointbiserialr(target, dummy)
print(f"Point-biserial correlation coefficient: {corr:.4f}")

Point-biserial correlation coefficient: -0.0056

In [157]:
corr = df['finalPrice'].corr(df['powerActive'], method='pearson')
corr

0.09409600111969474

In [158]:
corr = df['finalPrice'].corr(df['powerIdle'], method='pearson')
corr

0.000742116230155489

In [159]:
corr = df['finalPrice'].corr(df['powerSave'], method='pearson')
corr

-0.005190470200557515